@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
.main-navbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #8e44ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em;
  text-transform: capitalize;
}

.main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-navbar ul a {
  padding: 0.4em;
  margin-left: 0.4em;
  display: block;
  color: black;
  text-decoration: none;
}

form {
  background-color: #2ecc71;
  border-radius: 0.5em;
  padding: 0.4em;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

form textarea {
  width: 100%;
  resize: vertical;
  max-height: 30em;
  min-height: 20em;
  padding: 0.4em;
  border-radius: 1em;
  border: 1px solid black;
  margin-top: 0.3em;
}

form label {
  display: block;
  margin-top: 0.4em;
}

form input {
  margin-top: 0.3em;
  width: 90%;
  border: none;
  border: 1px solid black;
  border-radius: 0.4em;
  padding: 0.3em;
}

form input:focus, form textarea {
  outline: none;
}

form .submit {
  margin-top: 2em;
  padding: 0.4em;
  width: 50%;
  border: none;
  border-radius: 0.4em;
  background-color: #8e44ad;
}

.form-conatiner {
  padding: 1em;
}

.submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 1em;
  width: 90%;
  background: #2ecc71;
  margin: 1em auto;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-family: "Poppins", sans-serif;
}

.card .card-header {
  padding: 0.5em;
}

.card .card-header p {
  font-weight: bolder;
}

.card .card-header div {
  color: #ee5a24;
  font-weight: bolder;
  text-align: center;
}

.card .label-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.card .label-container input {
  margin-left: 2em;
}

.no-conatent-container {
  width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 2em;
  background: #8e44ad;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.no-conatent-container h2 {
  color: #ee5a24;
}

.no-conatent-container .nocontent-link-container {
  width: 100%;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.no-conatent-container .nocontent-link-container a {
  color: #fff;
}

html,
body {
  background-color: lightgrey;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

label {
  display: block;
}

header {
  background: #1abc9c;
  text-align: center;
  padding: 0.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}
/*# sourceMappingURL=globals.css.map */