@import "./Nav";
@import "./Form";
@import "./Card";
@import "./noContent";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
html,
body {
  background-color: lightgrey;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
label {
  display: block;
}
header {
  background: $co-1;
  text-align: center;
  padding: 0.4em;
}
h1,
h2 {
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}
input[type="checkbox"] {
  display: none;
}
.card label {
  color: white;
  padding: 0.3em;
  border-radius: 0.5em;
}
.card {
  max-width: 40em;
}
.section-breaker {
  width: 100%;
  padding: 1em;
  margin-top: 0;
}
.you {
  color: gold;
  text-shadow: 0 0 1em black;
  filter: drop-shadow(0 0 1em black);
}
