@import "./Nav";
@import "./Form";
@import "./Card";
@import "./noContent";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
html,
body {
  background-color: lightgrey;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
label {
  display: block;
}
header {
  background: $co-1;
  text-align: center;
  padding: 0.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}
